html, body{
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: url("../images/Fondo paisaje.jpg") no-repeat center center fixed;
	background-size: cover;
}

/* HEADER */
.logo{
	width: 40px;
}

/* BOTONES SUPERIORES (menu) */
.botonera li{
	display: inline-block;
	margin-left: 10px;
}

.botonera li a{
	color: #666;
	font-weight: 600;
	font-size: 14px;            /* tamaño letra */
	padding: 6px 14px;         /* tamaño del botón */
	border: 2px solid #666;    /* recuadro */
	border-radius: 25px;       /* forma ovalada */
	text-decoration: none;
	transition: all 0.3s ease;
}

.botonera li a:hover{
	color: white;
	background: #666;
}

/* HEADER */
header{
	background: white; 
	padding-top: 15px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 34242;
}

/* SECCIÓN PRINCIPAL */
.principal{
	height: 90vh;
	background: transparent;
}

.vertical-centered-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

.cta{
	text-align: center;
}

h1{
	font-weight: 700;
	font-size: 50px;
	color: white;
}

/* SOBRE MI */
.nosotros{
	width: 100vw;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	height: 60vh;
	text-align: center;
	padding-top: 100px;
	color: rgba(255,255,255,.9);
	background: rgba(0,0,0,0.35);
}

.nosotros h1{
	font-weight: 100;
}

/* DATOS DE INTERES */
.servicios{
	width: 100%;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
	background: rgba(255,255,255,0.75);
}

.servicios img{
	width: 40%;
}

.servicios h1{
	color: #666;
	font-weight: 100;
}

.servicios .images{
	padding-top: 30px;
}

.images .col-md-3{
	padding-top: 20px;
	margin: auto;
}

/* SOCIAL */
.social{
	text-align: center;
}

.social img{
	width: 30%;
}

/* FOOTER */
footer{
	background: rgba(117,117,117,0.35);
	height: 50vh;
	padding-top: 30px;
	width: 100%;
}

footer h1{
	text-align: center;
	font-weight: 100;
	color: white;
}

#home {
	color: white;
}

.col-xs-4{
	text-align: center;
}

/* MEDIA QUERY */
@media only screen and (max-device-width: 480px), 
       only screen and (min-device-width: 560px) and (max-device-width: 1136px) {

	.off {
		display: none !important;
	}
	.on {
		display: block !important;
	}

	.col-md-2 {
		width: 100%;
	}

	.social img{
		width: 100%;
	}

	.botonera li a {
		font-size: 12px;
		padding: 5px 10px;
	}

	.nosotros{
		height: 400px;
		overflow: hidden;
		padding-top: 15px;
	}

	#home{
		padding-top: 65px;
	}

	h1{
		font-size: 30px;
	}

	footer{
		padding-top: 10px;
	}
}

